In [3]:
# Load the hotel reviews from CSV
import pandas as pd
import time
# importing time so the start and end time can be used to calculate file loading time
print("Loading data file now, this could take a while depending on file size")
start = time.time()
# df is 'DataFrame' - make sure you downloaded the file to the data folder
df = pd.read_csv('data/Hotel_Reviews.csv')
end = time.time()
print("Loading took " + str(round(end - start, 2)) + " seconds")

Loading data file now, this could take a while depending on file size
Loading took 2.25 seconds

In [8]:
df = df.drop(["lat","lng"], axis=1)

In [9]:
def replace_address(row):
    if "Netherlands" in row["Hotel_Address"]:
        return "Amsterdam, Netherlands"
    elif "Barcelona" in row["Hotel_Address"]:
        return "Barcelona, Spain"
    elif "United Kingdom" in row["Hotel_Address"]:
        return "London, United Kingdom"
    elif "Milan" in row["Hotel_Address"]:        
        return "Milan, Italy"
    elif "France" in row["Hotel_Address"]:
        return "Paris, France"
    elif "Vienna" in row["Hotel_Address"]:
        return "Vienna, Austria"

In [11]:
df["Hotel_Address"] = df.apply(replace_address, axis = 1)
      # The sum of the value_counts() should add up to the total number of reviews
print(df["Hotel_Address"].value_counts())

display(df.groupby("Hotel_Address").agg({"Hotel_Name": "nunique"}))

Hotel_Address
London, United Kingdom    262301
Barcelona, Spain           60149
Paris, France              59928
Amsterdam, Netherlands     57214
Vienna, Austria            38939
Milan, Italy               37207
Name: count, dtype: int64

                        Hotel_Name
Hotel_Address
Amsterdam, Netherlands         105
Barcelona, Spain               211
London, United Kingdom         400
Milan, Italy                   162
Paris, France                  458
Vienna, Austria                158

In [17]:
df.drop(["Additional_Number_of_Scoring"], axis =1, inplace=True)

In [20]:
df['Total_Number_of_Reviews'] = df.groupby('Hotel_Name')['Reviewer_Score'].transform('count')
df['Average_Score'] = df.groupby('Hotel_Name')['Reviewer_Score'].transform('mean').round(1)

In [22]:
df.drop(["Review_Total_Negative_Word_Counts", "Review_Total_Positive_Word_Counts", "Review_Date", "days_since_review"], axis=1)

,Hotel_Address,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Total_Number_of_Reviews,Positive_Review,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags
0,"Amsterdam, Netherlands",7.8,Hotel Arena,Russia,I am so angry that i made this post available...,405,Only the park outside of the hotel was beauti...,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double..."
1,"Amsterdam, Netherlands",7.8,Hotel Arena,Ireland,No Negative,405,No real complaints the hotel was great great ...,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double..."
2,"Amsterdam, Netherlands",7.8,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,405,Location was good and staff were ok It is cut...,9,7.1,"[' Leisure trip ', ' Family with young childre..."
3,"Amsterdam, Netherlands",7.8,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,405,Great location in nice surroundings the bar a...,1,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex..."
4,"Amsterdam, Netherlands",7.8,Hotel Arena,New Zealand,You When I booked with your company on line y...,405,Amazing location and building Romantic setting,3,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St..."
...,...,...,...,...,...,...,...,...,...,...
515733,"Vienna, Austria",7.8,Atlantis Hotel Vienna,Kuwait,no trolly or staff to help you take the lugga...,325,location,8,7.0,"[' Leisure trip ', ' Family with older childre..."
515734,"Vienna, Austria",7.8,Atlantis Hotel Vienna,Estonia,The hotel looks like 3 but surely not 4,325,Breakfast was ok and we got earlier check in,12,5.8,"[' Leisure trip ', ' Family with young childre..."
515735,"Vienna, Austria",7.8,Atlantis Hotel Vienna,Egypt,The ac was useless It was a hot week in vienn...,325,No Positive,3,2.5,"[' Leisure trip ', ' Family with older childre..."
515736,"Vienna, Austria",7.8,Atlantis Hotel Vienna,Mexico,No Negative,325,The rooms are enormous and really comfortable...,3,8.8,"[' Leisure trip ', ' Group ', ' Standard Tripl..."
515737,"Vienna, Austria",7.8,Atlantis Hotel Vienna,Hungary,I was in 3rd floor It didn t work Free Wife,325,staff was very kind,1,8.3,"[' Leisure trip ', ' Family with young childre..."

In [24]:
df.drop(["Total_Number_of_Reviews_Reviewer_Has_Given", "Reviewer_Nationality"], axis=1)

,Hotel_Address,Review_Date,Average_Score,Hotel_Name,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Reviewer_Score,Tags,days_since_review
0,"Amsterdam, Netherlands",8/3/2017,7.8,Hotel Arena,I am so angry that i made this post available...,397,405,Only the park outside of the hotel was beauti...,11,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days
1,"Amsterdam, Netherlands",8/3/2017,7.8,Hotel Arena,No Negative,0,405,No real complaints the hotel was great great ...,105,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days
2,"Amsterdam, Netherlands",7/31/2017,7.8,Hotel Arena,Rooms are nice but for elderly a bit difficul...,42,405,Location was good and staff were ok It is cut...,21,7.1,"[' Leisure trip ', ' Family with young childre...",3 days
3,"Amsterdam, Netherlands",7/31/2017,7.8,Hotel Arena,My room was dirty and I was afraid to walk ba...,210,405,Great location in nice surroundings the bar a...,26,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days
4,"Amsterdam, Netherlands",7/24/2017,7.8,Hotel Arena,You When I booked with your company on line y...,140,405,Amazing location and building Romantic setting,8,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",10 days
...,...,...,...,...,...,...,...,...,...,...,...,...
515733,"Vienna, Austria",8/30/2015,7.8,Atlantis Hotel Vienna,no trolly or staff to help you take the lugga...,14,325,location,2,7.0,"[' Leisure trip ', ' Family with older childre...",704 day
515734,"Vienna, Austria",8/22/2015,7.8,Atlantis Hotel Vienna,The hotel looks like 3 but surely not 4,11,325,Breakfast was ok and we got earlier check in,11,5.8,"[' Leisure trip ', ' Family with young childre...",712 day
515735,"Vienna, Austria",8/19/2015,7.8,Atlantis Hotel Vienna,The ac was useless It was a hot week in vienn...,19,325,No Positive,0,2.5,"[' Leisure trip ', ' Family with older childre...",715 day
515736,"Vienna, Austria",8/17/2015,7.8,Atlantis Hotel Vienna,No Negative,0,325,The rooms are enormous and really comfortable...,25,8.8,"[' Leisure trip ', ' Group ', ' Standard Tripl...",717 day
515737,"Vienna, Austria",8/9/2015,7.8,Atlantis Hotel Vienna,I was in 3rd floor It didn t work Free Wife,13,325,staff was very kind,6,8.3,"[' Leisure trip ', ' Family with young childre...",725 day

In [25]:
# Remove opening and closing brackets
df.Tags = df.Tags.str.strip("[']")
# remove all quotes too
df.Tags = df.Tags.str.replace(" ', '", ",", regex = False)

In [26]:
df["Leisure_trip"] = df.Tags.apply(lambda tag: 1 if "Leisure trip" in tag else 0)
df["Couple"] = df.Tags.apply(lambda tag: 1 if "Couple" in tag else 0)
df["Solo_traveler"] = df.Tags.apply(lambda tag: 1 if "Solo traveler" in tag else 0)
df["Business_trip"] = df.Tags.apply(lambda tag: 1 if "Business trip" in tag else 0)
df["Group"] = df.Tags.apply(lambda tag: 1 if "Group" in tag or "Travelers with friends" in tag else 0)
df["Family_with_young_children"] = df.Tags.apply(lambda tag: 1 if "Family with young children" in tag else 0)
df["Family_with_older_children"] = df.Tags.apply(lambda tag: 1 if "Family with older children" in tag else 0)
df["With_a_pet"] = df.Tags.apply(lambda tag: 1 if "With a pet" in tag else 0)

In [28]:
df.drop(["Review_Total_Negative_Word_Counts", "Review_Total_Positive_Word_Counts", "days_since_review", "Total_Number_of_Reviews_Reviewer_Has_Given"], axis = 1, inplace=True)

print("Saving results to Hotel_Reviews_Filtered.csv")
df.to_csv(r'data/Hotel_Reviews_Filtered.csv', index = False)

Saving results to Hotel_Reviews_Filtered.csv

In [31]:
import time
import pandas as pd
import nltk as nltk
from nltk.corpus import stopwords
from nltk.sentiment.vader import SentimentIntensityAnalyzer
nltk.download('vader_lexicon')
from nltk.corpus import stopwords
from nltk.sentiment.vader import SentimentIntensityAnalyzer


# Load the filtered hotel reviews from CSV
df = pd.read_csv('data/Hotel_Reviews_Filtered.csv')

start = time.time()
cache = set(stopwords.words("english"))
def remove_stopwords(review):
    text = " ".join([word for word in review.split() if word not in cache])
    return text

# Remove the stop words from both columns
df.Negative_Review = df.Negative_Review.apply(remove_stopwords)   
df.Positive_Review = df.Positive_Review.apply(remove_stopwords)

vader_sentiment = SentimentIntensityAnalyzer()

def calc_sentiment(review):    
    if review == "No Negative" or review == "No Positive":
        return 0
    return vader_sentiment.polarity_scores(review)["compound"]  

print("Calculating sentiment columns for both positive and negative reviews")
start = time.time()
df["Negative_Sentiment"] = df.Negative_Review.apply(calc_sentiment)
df["Positive_Sentiment"] = df.Positive_Review.apply(calc_sentiment)
end = time.time()
print("Calculating sentiment took " + str(round(end - start, 2)) + " seconds")

df = df.sort_values(by=["Negative_Sentiment"], ascending=True)
print(df[["Negative_Review", "Negative_Sentiment"]])
df = df.sort_values(by=["Positive_Sentiment"], ascending=True)
print(df[["Positive_Review", "Positive_Sentiment"]])

df = df.reindex(["Hotel_Name", "Hotel_Address", "Total_Number_of_Reviews", "Average_Score", "Reviewer_Score", "Negative_Sentiment", "Positive_Sentiment", "Reviewer_Nationality", "Leisure_trip", "Couple", "Solo_traveler", "Business_trip", "Group", "Family_with_young_children", "Family_with_older_children", "With_a_pet", "Negative_Review", "Positive_Review"], axis=1)

print("Saving results to Hotel_Reviews_NLP.csv")
df.to_csv(r"data/Hotel_Reviews_NLP.csv", index = False)

# Finally remember to save the hotel reviews with new NLP data added
print("Saving results to Hotel_Reviews_NLP.csv")
df.to_csv(r'data/Hotel_Reviews_NLP.csv', index = False)

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\piete\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

Calculating sentiment columns for both positive and negative reviews
Calculating sentiment took 103.07 seconds
                                          Negative_Review  Negative_Sentiment
186584  So bad experience memories I hotel The first n...             -0.9920
129503  First charged twice room booked booking second...             -0.9896
307286  The staff Had bad experience even booking Janu...             -0.9889
201953  Everything DO NOT STAY AT THIS HOTEL I never i...             -0.9886
452092  No WLAN room Incredibly rude restaurant staff ...             -0.9884
...                                                   ...                 ...
138365  Wifi terribly slow I speed test network upload...              0.9938
79215   I find anything hotel first I walked past hote...              0.9938
278506  The property great location There bakery next ...              0.9945
339189  Guys I like hotel I wish return next year Howe...              0.9948
480509  I travel lot far visited countless number hote...              0.9957

[515738 rows x 2 columns]
                                          Positive_Review  Positive_Sentiment
137893  Bathroom Shower We going stay twice hotel 2 ni...             -0.9820
5839    I completely disappointed mad since reception ...             -0.9780
64158   get everything extra internet parking breakfas...             -0.9751
124178  I didnt like anythig Room small Asked upgrade ...             -0.9721
489137  Very rude manager abusive staff reception Dirt...             -0.9703
...                                                   ...                 ...
293710  This place surprise expected good actually gre...              0.9985
417442  We celebrated wedding night Langham I commend ...              0.9985
287419  When first arrived hotel staff incredibly frie...              0.9987
132492  We arrived super cute boutique hotel area expl...              0.9987
179007  We went Andaz 40th birthday celebration This a...              0.9991

[515738 rows x 2 columns]
Saving results to Hotel_Reviews_NLP.csv
Saving results to Hotel_Reviews_NLP.csv